.tiled headerbar windowhandle {
  margin-left: -6px;
}

.tiled headerbar windowcontrols.start,
.tiled headerbar windowcontrols.start > button {
  margin: 0 10000px 0 -10000px;
  opacity: 0;
}

.tiled .titlebar.default-decoration {
  margin: -200px 0 0;
  opacity: 0;
}
