window headerbar windowhandle {
  margin-right: -6px;
}

window headerbar windowcontrols.end,
window headerbar windowcontrols.end > button {
  margin: 0 -10000px 0 10000px;
  opacity: 0;
}

window .titlebar.default-decoration {
  margin: -200px 0 0;
  opacity: 0;
}
