.maximized headerbar windowhandle {
  margin-right: -6px;
}

.maximized headerbar windowcontrols.end,
.maximized headerbar windowcontrols.end > button {
  margin: 0 -10000px 0 10000px;
  opacity: 0;
}

.maximized .titlebar.default-decoration {
  margin: -200px 0 0;
  opacity: 0;
}
