.tiled headerbar windowhandle {
  margin-right: -6px;
}

.tiled headerbar windowcontrols.end,
.tiled headerbar windowcontrols.end > button {
  margin: 0 -10000px 0 10000px;
  opacity: 0;
}

.tiled .titlebar.default-decoration {
  margin: -200px 0 0;
  opacity: 0;
}
